<h1><%= I18n.translate("gallery") %></h1>
<p><%= images.size %> <%= I18n.translate("images_in_gallery") %></p>
<p><%= I18n.translate("to_add") %></p>
<p>
<% images.each do |image| %>

<p><img style="padding: 5px;" src="<%= image %>" /></p>

<% end %>
</p>

<!-- <a href="/gallery_feed.xml"><img width=50 height=50 src="/dist/images/Feed-icon.png" /></a> -->

<a href="/" target=_blank><%= I18n.translate("back_to_openloft") %></a>